* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  margin: 10px;
  padding: 20px;
  height: 200px;
  width: 225px;
  background-color: rgb(157, 206, 216);
  color: azure;
  display: flex;
  align-items: center;
  font-size: 100px;
  justify-content: center;
  object-fit: cover;
}

button {
  margin: 10px;
  padding: 20px;
  background-color: azure;
}
